{% extends "base.html" %}
{% block title %}YouTube Summary{% endblock %}
{% block content %}
    <h1>Please enter the link to the youtube video.</h>
    <div class ="container">
        <div class="form-container">
            <form action="#" method="POST">
                <div class="input-container">
                    <input type="url" name="url" placeholder="Enter YouTube video link"/>
                    <input type="number" name="length" placeholder="Enter length of summary">
                </div>
                <input type="submit" value="submit"/>
            </form>
        </div>
    </div>
{% endblock %}